# =========================
# R / RStudio
# =========================
.Rproj.user/
.Rhistory
.RData
.Ruserdata
*.Rproj

# =========================
# Environment
# =========================
.Renviron
.env

# =========================
# renv
# =========================
renv/
renv.lock

# =========================
# Data and outputs
# =========================
data/
!data/.gitkeep
figures/

# =========================
# Logs
# =========================
*.log

# =========================
# Temporary files
# =========================
*.tmp
*.bak
*.swp

# =========================
# OS
# =========================
.DS_Store
